/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .box {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .box {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .box {
    width: 1170px;
  }
}
/*variabol*/
.super-heading {
  width: fit-content;
  margin: 0 auto 70px;
  padding: 5px 20px;
  border: 2px solid var(--main-color);
  transition: 0.5s;
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
}

.super-heading::before,
.super-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.super-heading:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.super-heading::after {
  right: -40px;
}

.super-heading::before {
  left: -40px;
}

.super-heading:hover::before {
  animation: ball-left 0.5s linear forwards;
}
.super-heading:hover::after {
  animation: ball-right 0.5s linear forwards;
}
@keyframes ball-left {
  50% {
    left: 0px;
    width: 16px;
    height: 16px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes ball-right {
  50% {
    right: 0px;
    width: 16px;
    height: 16px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
/*variabol*/

header {
  .box {
    display: flex;
    height: 50px;
    align-items: center;
    position: relative;

    .logo {
      text-decoration: underline;
      font-size: 2rem;
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);

      &::first-letter {
        color: var(--main-color);
        text-decoration: none;
        font-size: 2.3rem;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
      }

      &:hover {
        color: var(--main-color);
      }

      &:hover::first-letter {
        color: #000;
      }
    }

    .link {
      flex-grow: 1;
      height: 100%;

      > ul {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        > li {
          > a {
            padding: 10px;
            text-transform: capitalize;
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 1.3rem;

            &::before {
              content: "";
              height: 3px;
              position: absolute;
              left: 0px;
              top: 0px;
              width: 0%;
              background-color: blueviolet;
              transition: 0.5s;
            }

            &:hover::before {
              width: 100%;
              transition: 0.5s;
            }

            @media (max-width: 768px) {
              & {
                font-size: 0.9rem;
              }
            }
          }

          .drop-minu {
            position: absolute;
            background-color: #fffdfd;
            width: calc(100% - 30px);
            left: 15px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            display: none;
            z-index: 999999999;
            border-radius: 10px;
            -webkit-border-radius: 0px 0 10px 10px;
            -moz-border-radius: 0px 0 10px 10px;
            -ms-border-radius: 0px 0 10px 10px;
            -o-border-radius: 0px 0 10px 10px;

            > div {
              flex-basis: 50%;
            }

            .photo {
              width: 100%;

              img {
                width: 100%;
              }
            }

            .menu {
              display: flex;
              gap: 5%;

              > ul {
                flex-basis: 50%;
                text-align: center;

                li {
                  padding: 10px;

                  &:not(:last-child) {
                    border-bottom: 2px solid;
                  }
                }
              }
            }

            @media (max-width: 768px) {
              .photo {
                display: none;
              }

              > div {
                flex-basis: 100%;
              }

              .menu {
                flex-direction: column;
              }
            }
          }

          &:last-child:hover .drop-minu {
            display: flex;
          }
        }
      }
    }
  }
}

.landing {
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
  justify-content: space-evenly;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ddd;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
  }

  .box {
    display: flex;
    height: 100%;
    /* justify-content: center; */
    align-items: center;

    > * {
      flex-basis: 50%;
    }

    img {
      width: 100%;
      animation-name: up-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    > .text {
      /* margin: 100px 0px; */
      & :is(p, h1) {
        font-size: 1.5rem;
        text-transform: capitalize;
        line-height: 1.6;
      }

      h1 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -1px;
        word-spacing: px;
      }
    }

    @media (max-width: 768px) {
      & > * {
        flex-basis: 100%;
        text-align: center;
      }

      & .poto {
        display: none;
      }
    }
  }

  .down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    animation-name: lol;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes lol {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  30% {
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    -o-transform: translatey(-10px);
  }

  40% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -o-transform: translatey(10px);
  }

  60% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
  }

  70% {
    transform: translatey(10px);
    -webkit-transform: translatey(10px);
    -moz-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -o-transform: translatey(10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  50% {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    -o-transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
  }
}

/* phooooooooone*/
.features,
.gallery,
.articles {
  padding: var(--main-padding-top) 0;
}
.team-members .cards,
.testimonials .cards,
.features .cards,
.gallery .cards,
.articles .cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.articles .cards .card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 2px #ddd;
  transition: 0.5s ease-in-out;
}
.articles .card:hover {
  transform: translateY(-10px);
}
.articles .cards .card img {
  max-width: 100%;
}

.articles .cards .text {
  padding: 10px;
}
.articles .cards .text h3 {
  text-transform: capitalize;
  color: var(--main-color);
}
.articles .cards .text p {
  line-height: 1.8;
  margin: 0;
}
.articles .cards .more {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid var(--main-color);
}
.articles .more a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.articles .card:hover .more i {
  animation: moveing 0.5s linear infinite;
}
@keyframes moveing {
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translate(0px);
  }
}
.gallery {
  background-color: var(--section-background);
}
.gallery .cards .card {
  border: 10px solid #fff;
  position: relative;
  overflow: hidden;
}
.gallery .cards .card::before {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  background-color: #ffffff47;
  transition: 0.2s ease-in-out;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.gallery .cards .card:hover img {
  transform: scale(1.2) rotate(5deg);
}
.gallery .cards .card:hover::before {
  width: 100%;
  height: 100%;
}
.gallery img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.features .box .cards {
  text-align: center;
}
.features .card {
  box-shadow: 0px 2px 10px #eee;
  border: 1px solid #ccc;
}
.features .card img {
  width: 100%;
  height: 100%;
}
.features .card .img {
  position: relative;
}
.features .img::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: calc(100% + 1px);
  height: 100%;
  z-index: 3;
  bottom: -1px;
  transition: 0.3s;
  left: 0;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}
.features .card:hover .img::after {
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
}
.features .cards > :nth-child(1) {
  --color: #288d0094;
}
.features .cards > :nth-child(2) {
  --color: #0036ff7a;
}

.features .cards > :nth-child(3) {
  --color: #a102027a;
}
.features .cards .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color);
  z-index: 2;
}
.features .card h3 {
  padding: 20px 0 30px;
  position: relative;
  width: fit-content;
  margin: 20px auto 40px;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}
.features .cards h3::after {
  content: "";
  height: 3px;
  width: 80%;
  background-color: var(--color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 999;
}
.features .card p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .card button {
  background-color: transparent;
  padding: 10px 20px;
  border: solid 1px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  font-weight: bold;
}
.features .card button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color);
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.3s;
}
.features .card:hover button::before {
  left: 0;
}
.features .card:hover button {
  color: #fff;
  border-color: #fff;
  transition: 0.3s 0.1s;
}

.testimonials {
  padding: var(--main-padding-top) 0;
  background-color: var(--section-background);
}

.testimonials .card {
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.testimonials .card img {
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -10px;
}
.testimonials .card h3 {
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 1.8rem;
}

.testimonials .card span {
  color: #777;
  margin-bottom: 10px;
  display: inline-block;
}
.testimonials .star i.active {
  color: gold;
}
.testimonials .card p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
}
.team-members {
  padding: var(--main-padding-top) 0;
}
.team-members .card {
  position: relative;
  padding: 25px 0;
}
.team-members .card::after {
  content: "";
  position: absolute;
  width: calc(100% - 60px);
  height: 100%;
  right: 0;
  top: 0;
  background-color: #f3f3f3;
  border-radius: 20px;
  z-index: -3;
}
.team-members .card::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ddd;
  border-radius: 20px;
  z-index: -2;
  transition: 0.3s ease-in-out;
}
.team-members .card:hover::before {
  width: calc(100% - 60px);
}
.team-members .top {
  display: flex;
  padding-top: 20px;
}
.team-members .top .photo {
  flex-grow: 1;
}
.team-members .top img {
  max-width: 100%;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.team-members .card:hover img {
  filter: grayscale(1);
}
.team-members .top .social {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.team-members .top .social i {
  color: #777;
  padding: 10px 20px;
}
.team-members .top .social i:hover {
  color: var(--main-color);
}
.team-members .text {
  padding-left: 75px;
}
.team-members .text h2 {
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 0;
}
.team-members .text p {
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #777;
  text-wrap: balance;
}
