/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;

  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
h1 {
  font-size: 7rem;
}
header {
 & .box {
  display: flex ;
  height: 70px;
  align-items:center;
  position : relative ;
  & .link {
  flex-grow: 1;
  height: 100%;
  & >ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  & > li {
  height: 100%;
}
   & a {
  padding: 10px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  height: 100%;
}
  }
}
}
}
.box .link ul li:last-child:hover div {
  display: flex
  
}
.box .link ul li >div {
  position: absolute; 
  background-color: #ddd;
  width: calc(100% - 30px);
  left: 15px ;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  display: none;
}
.box .link ul li >div ul {
  flex-grow: 1;
  text-align: center;
}

.box .link ul li >div li:not(:last-child) {
  border-bottom: 1px solid 
}
.landing {

  height: calc(100vh - 50px);
  position: relative; 
  overflow: hidden;
    
}
.landing:before {
  content :"";
  width: 100%;
  height: 100%;
  position: absolute;
   background-color: #ddd;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
}
.landing .down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  animation-name: lol ;
  animation-duration: 1s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear;
  
  
}
@keyframes lol {
  0% {  transform: translateX(0%)}
 20% {transform: translatey(10px)  } 
 30% {transform: translatey(0px) }
 40% {transform: translatey(10px) }
 60% {transform: translatey(0px) }


}
.link > ul a::before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  background-color: blueviolet;
  transition: .5s;
  
}
.link > ul a:hover::before {
  width: 100%;
  transition: .5s;
  
}